@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  padding-bottom: 40px !important;
}

.swiper .swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
}